- name: disable current version of mysql
  ansible.builtin.command: dnf module disable mysql -y
- name: mysql repo copy
  ansible.builtin.template:
   src: roles/common/templates/mysql.repo
   dest: /etc/yum.repos.d/{{component}}.repo
- name: mysql server installation
  ansible.builtin.package:
    name: mysql-community-server
    state: present
- name: mysql system service enable and start
  ansible.builtin.service:   
    name: mysqld
    enabled: yes
    state: restarted
- name: mysql set password
  ansible.builtin.command:  mysql_secure_installation --set-root-pass {{mysql_password}}
- name: connecting checking mysql
  ansible.builtin.command: mysql -uroot -p{{mysql_password}}
